@model Laboratory.Models.Requests

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Requests</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalResidenceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalResidenceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.College)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.College)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameEnglish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameEnglish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameEnglish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameEnglish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrandFatherNameEnglish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrandFatherNameEnglish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyNameEnglish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyNameEnglish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameArabic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameArabic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameArabic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameArabic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrandFatherNameArabic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrandFatherNameArabic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyNameArabic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyNameArabic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalFileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalFileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
